spring:
  application:
    name: spring-waiting-queue-with-redis
  datasource:
    url: jdbc:mysql://localhost:13306/waiting_queue
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
    hibernate:
      ddl-auto: update